/*Change the different colors to the nav bar */

:root {
  --bclolor1: violet;
  --bcolor2: skyblue;
  --bcolor3: orange;
  --bcolor: #333;
}

nav {
  background-color: var(--bclolor1);
  border-radius: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 5px;
  margin: 10px;
}

nav ul li {
  display: inline;
  margin: 10px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: yellow;
}
